@charset "UTF-8";

*/*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}*/

body{
    background-color: rgb(15, 99, 255);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 35px;

}