@charset "UTF-8";

    *{box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    }

    body{
        margin-left: 40px;
    }

header{

    margin-top: -40px;
    padding: 30px 10px;
    height: 100px;
    width: 240px;
    margin-left: 11px;
}

header{
color: aliceblue;
font-size: 30px;
background-color: rgb(7, 7, 7);


}



    .numerico{
   background-color: darkgreen;

    }

    .numerico{
    margin-top: 160px ;
    padding:60px 0px;
    width: 260px;
    height: 500px;
    
    }

    .container{
        padding: 0px 10px;
        width: 0px;
       
    }

    form{
    /*background-color: azure;
    /*margin-top:-100px ;*/
    width:200px;
    height: 250px;
    
    
  }

      input{
      padding: 25px 20px;   
      margin-top: 4px;
      font-size: 30px;

    } 

    #zero{
        padding: 30px 51.5px;


    }
    
    .operacoes{

       width: 80px; 
      /* background-color: rgb(12, 12, 85);*/
       padding: 120px 10px;
       margin-top:-370px ;
       margin-left: 193px;
    
    }


   .operacoes input{
     
    padding: 13.5px 0px;
    width: 50px;

   }

   #virgula{
    padding: 30px 24px;

   }

   #resultado{
    height: 97px;
   }

   


    
    