@charset "UTF-8";

    *{box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    }

    .numerico{
   background-color: darkgreen;

    }

    .numerico{
    margin-top: 160px ;
    padding:60px 0px;
    width: 300px;
    height: 500px;
    


    }

    .container{
        padding: 60px 10px;
        width: 0px;
       
    }

    form{
    /*background-color: azure;
    /*margin-top:-100px ;*/
    width:200px;
    height: 250px;
    
    
  }

      input{
      padding: 25px 20px;   
      margin-top: 4px;
      font-size: 30px;

    } 

    #zero{
        padding: 30px 51.5px;


    }
    
    .operacoes{

       width: 80px; 
      /* background-color: rgb(12, 12, 85);*/
       padding: 60px 10px;
       margin-top:-370px ;
       margin-left: 225px;
     

    }


   .operacoes input{
     
    padding: 13.5px 0px;
    width: 60px;

   }

   


    
    