@charset "UTF-8";

*{box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: slategrey;

}
main h1{ text-align: center;
  margin-top: 60px;
  color: aliceblue;
  font-size: 50px;

}.container {

  margin-top: -100px;
  
}


 #relogio{
  margin-top: 30px;
 }

#relogio{
  background-color: rgb(219, 219, 216);
  
}

#relogio{
  width: 45%;
  padding: 100px 0px;
  height: 450px;
  text-align: center;
  margin-left: 350px;
  border-radius: 10px;
}

#relogio img{
  height: 300px;
  border-radius: 50%;
  width: 50%;


}.container {
  padding: 30px 0;
  
  font-size: 32px;
}



