@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    padding: 50px 50px;
    margin-left: 30%;
    margin-top: 50px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

body form {
    justify-content: space-between;
    margin-top: 30px;
 
}

form input, textarea, button {
height: 30px;
width: 60%;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif; 
font-weight: bolder;
height: 35px;

}
input{
    margin-top: 5px;

}

textarea{
    margin-top: 5px;
    resize: none;
    height: 50px;

}
button{
    background-color: rgb(82, 163, 0);
    color: aliceblue;
    border: none;
font-weight: bolder;
height: 35px;
cursor: pointer; 
}

form button:hover{
    background-color: lawngreen;

}

input:focus,textarea:focus{
    outline-color: rgb(2, 88, 31);
}